{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Stats</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>

<div class="container">

    <div class='row'>
        <div class='col-md-12'>
            <h3>Stats</h3>
        </div>
    </div>
    
    
    <div class='row'>
        <div class='col-md-12'>
            <h4>Displaying stats for {{ stats.filtered_total }} of {{ stats.total }} teams</h4>
            <form method='GET' class="form-inline" role="form">
                {% for field in form %}
                    
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                        {% render_field field class="form-control" %}
                    </div>
                {% endfor %}
                
                <input class='btn btn-info' type='submit' value='Filter' />
            </form>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-4'>
            <h4>Group by continent</h4>
            <table class='table'>
            <thead>
                <tr><th>Name</th><th>Count</th></tr>
            </thead>
                <tbody>
                    {% for gbc in stats.group_by_continent %}
                        <tr>
                            <td>{{ gbc.country__continent__name|default:"-" }}</td>
                            <td>{{ gbc.count }}</td>                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class='col-md-4'>
            <h4>Number of games</h4>
            <table class='table'>
            <thead>
                <tr><th>Name</th><th>Count</th></tr>
            </thead>
                <tbody>
                    {% for gbg in stats.group_by_games %}
                        <tr>
                            <td>{{ gbg.title }}</td>
                            <td>{{ gbg.count1|add:gbg.count2 }}</td>                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class='col-md-4'>
            baz
        </div>
    </div>

</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
